@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,500;1,600&display=swap');

*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    color:white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-transform: uppercase;
}

figure{
    display:inline-block;   
    margin-left:80px;
}
h1{
    display:inline-block ;   
    font-weight: 100;
    vertical-align: 40px;
    margin-left: 30px;
    width:30vw;
  
}
a{
    text-decoration: none;
}
nav{
    display:inline-block;
    vertical-align: 40px;
} 
 li{
    display:inline-block;
    list-style: none;
    margin-left: 45px;
    
    
 }
 li:hover{
    cursor: pointer;
    font-weight: bold;
 }
 main{
     background-image: url('img/mago.png');
     background-repeat: no-repeat;
     background-size:contain ;
     height: 120vh;     
     margin-left: 350px;
 }
 section{  
     height: 100%;
     width:50%;
     display: block;

 }
 .wild-hunt{
     margin-top:300px;
     margin-left: 110px;
 }
 .wild-hunt img{
     width: 22vw;
     margin-bottom: px;
 }
button{
    background-color: brown;
    width: 48%;  
    padding: 3%; 
    border-radius: 10px;
    font-size: 20px;
    margin-left: 140px; 
    margin-top: 10px; 
 }
 footer {
  display: inline-block;
  width: 400px;
  height: 50px;
  margin-top:;
  margin-left: 10px;
}

.foot {
  font-size: 10px;
  font-weight: 600px;
  margin-left: 10px;
}
